#first{
    position: relative;
    height: 20vh;
    width: 100vw;
}
#par{
    position: absolute;
    font-family:fantasy;
    font-size: x-large;
    animation-name: par;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
@keyframes par{
    0%{ top:0%; }
    25%{top:25%}
    50%{top: 50%;}
    75%{top:64%}
    100%{top:64%;}

}
#catpic{
    height:70%;
    width:20%;
    position: relative;
    animation-name:pic;
    animation-duration: 3s;
    animation-timing-function:linear;
    /* z-index: -1; */
    transition: 2s;
    transition-delay: 400ms;

}
#catpic:hover{
    height: 80%;
    width:30%;
}

@keyframes pic{
    0%{left: 100%;}
    25%{left: 75%;}
    50%{ left: 50%;}
    75%{ left:25%;}
    100%{left:0%;}
}

#seconde{
    position: relative;
    height: 20vw;
    width: 40vw;
    display: inline-block;
}
#ball{
    background-color: black;
    height: 30%;
    width: 15%;
    border-radius:50%;
    position: absolute;
    animation-name: ball;    
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}
@keyframes ball{
    0%{left:0%;top:0%}
    25%{left:25%;top:10%}
    50%{left:50%;top:25%}
    75%{left:75%;top:45%}
    100%{top:55%;left: 80%;}
}
#third{
    position: relative;
    display: inline-block;
    height: 20vw;
    width: 40vw;
}
#bal{
    width: 0; 
    height: 0; 
    border-left: 7vw solid transparent;
    border-right: 7vw solid transparent;
    border-bottom: 7vw solid #ffe8e5;
    position: absolute;
    animation-name: arrow;    
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-delay: 2s;
}
@keyframes arrow{
    0%{left:0%;top:0%;transform: rotate(0deg);}
    25%{left:25%;top:10%;transform: rotate(-20deg);}
    50%{left:50%;top:25%;transform:rotate(-40deg);}
    75%{left:75%;top:45%;transform: rotate(-60deg);}
    100%{top:55%;left: 80%;transform: rotate(-90deg);}
}
#four{
    position: relative;
    display: inline-block;
    height: 20vw;
    width: 40vw;
}
#ba{
    background-color: black;
    height: 30%;
    width: 15%;
    border-radius:50%;
    position: absolute;
    animation-name:ba;    
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    bottom: 0px;    
    animation-delay: 6s;
    animation-fill-mode: backwards;
}
@keyframes ba{
    0%{right:0%;top:0%}
    25%{right:25%;top:10%}
    50%{right:50%;top:25%}
    75%{right:75%;top:45%}
    100%{top:55%;right:80%;}
}
#five{
    position: relative;
    display: inline-block;
    height: 20vw;
    width: 40vw;
}
#balls{
    border: solid black;
    border-width:2vw 0px 0px 2vw;
    display: inline-block;
    padding: 8%;
    position: absolute;
    animation-name:balls;    
    animation-timing-function: linear;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-delay: 4s;
    animation-fill-mode:backwards;
    
    
}
@keyframes balls{
    0%{left:0%;top:0%;transform: rotate(0deg);}
    25%{left:25%;top:10%;transform: rotate(-20deg);}
    50%{left:50%;top:25%;transform:rotate(-40deg);}
    75%{left:75%;top:45%;transform: rotate(-60deg);}
    100%{top:55%;left: 80%;transform: rotate(-90deg);}
}
#na li{
    display:inline-block
}
#hh{
    position: sticky;
    top: 0%;
}
#na{
    background-color:greenyellow;
}
